@use '../../../style/mixins' as mixin;
@use "../../../style/variable" as colVars;
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Lato&family=Tilt+Prism&display=swap');

.custom_tab{
    border-bottom: 1px solid colVars.$dividerColor;
    flex-wrap: nowrap;
    gap: 50px;
}

