$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #264eef;
$grey:    #5d5c5c;

$darkBlue: #0a48a4;
$darkCyan: #3762bc;

$dividerColor: rgb(165, 164, 164);;
$appTitle: #0959d1;